@model IEnumerable<WebApp.Sales.Models.Order>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a asp-action="Create">Add</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>OrderId</th>
            <th>customerName</th>
            <th>TotalPrice</th>
            <th>Qty</th>
            <th>Actions</th>

        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OrderID</td>
                <td>@item.Customer.customName</td>
                <td>@item.TotalPrice</td>
                <td>@item.Qty</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderID">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.OrderID">Delete</a>
                    <a asp-action="Details" asp-route-id="@item.OrderID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

