@model IEnumerable<WebApp.Sales.Models.Sale>

@{
    ViewData["Title"] = "Index";
}

<h1>Index Page</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Emp Name</th>
            <th>Age</th>
            <th>Gneder</th>
            <th>Locationr</th>
            <th>Salary</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var sale in Model)
        {
            <tr>
                <td>@sale.Id</td>
                <td>@sale.EmpName</td>
                <td>@sale.Age</td>
                <td>@sale.Gender</td>
                <td>@sale.location</td>
                <td>@sale.Salary</td>
            </tr>
        }
    </tbody>
</table>


